body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
    
}

.Titulo{
    background-color: aliceblue;
    text-align: center;
}

.button {
    background-color: rgb(10, 82, 177);
    color: azure;
    border-radius: 3px ;
}